@{
    ViewData["Title"] = "Form";
}

<h1>@ViewData["Title"]</h1>
<h1>Preencha o form abaixo</h1>

<form action="TesteForm" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <input type="submit" value="Enviar">
</form>

